
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- Begin Header Bottom Menu Area -->
            <div class="hb-menu">
                <nav>
                    <ul>
                        <li class="megamenu-static-holder">
                            <a href="shop-left-sidebar.html">Telefon</a>
                            <ul class="megamenu hb-megamenu">

                                <li>
                                    <a href="shop-left-sidebar.html">Telefon Modelleri</a>
                                    <ul>
                                        <li><a asp-controller="ProductBluetoothList" asp-action="Index">Cep Telefonları</a></li>
                                        <li><a href="shop-4-column.html">İpohne Modelleri</a></li>
                                        <li><a href="shop-4-column.html">Samsung Galaxy Modelleri</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="single-product-gallery-left.html">Telefon Marka Modelleri</a>
                                    <ul>
                                        <li><a href="single-product-carousel.html">İpohne Modelleri</a></li>
                                        <li><a href="single-product-gallery-left.html">Samsung Modelleri</a></li>
                                        <li><a href="single-product-gallery-right.html">Xiaomi Modelleri</a></li>
                                        <li><a href="single-product-tab-style-top.html">Realme Modelleri</a></li>
                                        <li><a href="single-product-tab-style-right.html">Vivo Modelleri</a></li>
                                        <li><a href="single-product-tab-style-right.html">Tecno Camon Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product.html">Diğer Ürünler</a>
                                    <ul>
                                        <li><a href="single-product.html">Akıllı Saatler</a></li>
                                        <li><a href="single-product-affiliate.html">Bluetooth Ürünleri</a></li>
                                        <li><a href="single-product-affiliate.html">Hafıza Kartı</a></li>
                                    </ul>
                                </li>
                                <li class="p-2 t-center">
                                    <img src="~/Limupa/images/menu/tum-telefon-modelleri.webp" class="mt">
                                    <img src="~/Limupa/images/menu/yenilenmis-telefonlar.webp" class="mt">
                                    <img src="~/Limupa/images/menu/outlet-telefonlar.webp" class="mt">
                                </li>

                            </ul>
                        </li>



                        <li class="megamenu-static-holder">
                            <a href="shop-left-sidebar.html">Bilgisayar</a>
                            <ul class="megamenu hb-megamenu">
                                <li>
                                    <a href="shop-left-sidebar.html">Bilgisayar Modelleri</a>
                                    <ul>
                                        <li><a href="shop-3-column.html">Dizüstü Modelleri</a></li>
                                        <li><a href="shop-4-column.html">Masaüstü Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="shop-left-sidebar.html">Bilgisayar Türleri</a>
                                    <ul>
                                        <li><a href="shop-3-column.html">MacOs Bilgisayarlar</a></li>
                                        <li><a href="shop-4-column.html">Windows Bilgisayarlar</a></li>
                                        <li><a href="shop-4-column.html">Ubuntu Bilgisayarlar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product.html">Bilgisayar Parçaları</a>
                                    <ul>
                                        <li><a href="single-product-affiliate.html">Anakart Modelleri</a></li>
                                        <li><a href="single-product.html">İşlemci Modelleri</a></li>
                                        <li><a href="single-product-sale.html">Ekran Kartı Modelleri</a></li>
                                        <li><a href="single-product-group.html">Ram Modelleri</a></li>
                                        <li><a href="single-product-normal.html">SSD Modelleri</a></li>
                                        <li><a href="single-product-affiliate.html">Harddisk Modelleri</a></li>
                                        <li><a href="single-product-affiliate.html">Güç Kaynağı Modelleri</a></li>
                                        <li><a href="single-product-affiliate.html">Monitor Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <img src="~/Limupa/images/menu/l-intro-1654286079-x.jpg" class="mt w-250" style="float:left;">
                                </li>

                            </ul>
                        </li>



                        <li class="megamenu-static-holder">
                            <a href="shop-left-sidebar.html">Tv,Görüntü Ve Ses</a>
                            <ul class="megamenu hb-megamenu">
                                <li>
                                    <a href="shop-left-sidebar.html">Televizyon Modelleri</a>
                                    <ul>
                                        <li><a href="shop-3-column.html">Oled TV Modelleri</a></li>
                                        <li><a href="shop-4-column.html">Qled TV Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product-gallery-left.html">Televizyon Ekipmanları</a>
                                    <ul>
                                        <li><a href="single-product-carousel.html">TV Box</a></li>
                                        <li><a href="single-product-carousel.html">Uydu Alıcıları</a></li>
                                        <li><a href="single-product-gallery-left.html">HDMI Kablo</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product.html">Diğer Ürünler</a>
                                    <ul>
                                        <li><a href="single-product-sale.html">Akıllı Ev Sistemleri</a></li>
                                        <li><a href="single-product-sale.html">Akım Koruyucu Prizler</a></li>
                                        <li><a href="single-product.html">Bluetooth Hoparlör</a></li>
                                        <li><a href="single-product-group.html">Drone</a></li>                                    
                                    </ul>
                                </li>
                                <li>
                                    <img src="~/Limupa/images/menu/televizyon.webp" class="mt w-250">
                                </li>

                            </ul>
                        </li>




                        <li class="megamenu-static-holder">
                            <a href="shop-left-sidebar.html">Foto, Kamera</a>
                            <ul class="megamenu hb-megamenu">
                                <li>
                                    <a href="shop-left-sidebar.html">Fotoğraf Makinesi Modelleri</a>
                                    <ul>
                                        <li><a href="shop-3-column.html">Canon Modelleri</a></li>
                                        <li><a href="shop-4-column.html">Sony Modelleri</a></li>
                                        <li><a href="shop-left-sidebar.html">Nikon Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product-gallery-left.html">Kamera Modelleri</a>
                                    <ul>
                                        <li><a href="single-product-carousel.html">Aksiyon Kamera Modelleri</a></li>
                                        <li><a href="single-product-gallery-left.html">Video Kamera Modelleri</a></li>
                                        <li><a href="single-product-gallery-left.html">IP Kamera Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product.html">Diğer Ürünler</a>
                                    <ul>
                                        <li><a href="single-product.html">Hafıza Kartı</a></li>
                                        <li><a href="single-product-sale.html">Drone</a></li>
                                        <li><a href="single-product-sale.html">Fotoğraf Makinesi Aksesuarları</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <img src="~/Limupa/images/menu/camera.webp" class="mt w-250">
                                </li>

                            </ul>
                        </li>

                        <li class="megamenu-static-holder">
                            <a href="shop-left-sidebar.html">Oyun, Hobi</a>
                            <ul class="megamenu hb-megamenu">
                                <li>
                                    <a href="shop-left-sidebar.html">Oyun Konsolu Modelleri</a>
                                    <ul>
                                        <li><a href="shop-3-column.html">Xbox Modelleri</a></li>
                                        <li><a href="shop-4-column.html">PlayStation Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product-gallery-left.html">Oyun Modelleri</a>
                                    <ul>
                                        <li><a href="single-product-carousel.html">Xbox Konsol Oyunları</a></li>
                                        <li><a href="single-product-gallery-left.html">PlayStation Konsol Oyunları</a></li>
                                        <li><a href="single-product-gallery-right.html">Nintendo Switch Oyunları</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product.html">Diğer Ürünler</a>
                                    <ul>
                                        <li><a href="single-product.html">Xbox Oyun Kolları</a></li>
                                        <li><a href="single-product-sale.html">PlayStation Oyun Kolları</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <img src="~/Limupa/images/menu/ps.webp" class="mt w-250">
                                    <img src="~/Limupa/images/menu/xbox.webp" class="mt w-250">
                                </li>

                            </ul>
                        </li>



                        <li class="megamenu-static-holder">
                            <a href="shop-left-sidebar.html">Ofis, Kırtasiye</a>
                            <ul class="megamenu hb-megamenu">
                                <li>
                                    <a href="shop-left-sidebar.html">Çıktı Makinesi Modelleri</a>
                                    <ul>
                                        <li><a href="shop-3-column.html">Yazıcı Modelleri</a></li>
                                        <li><a href="shop-4-column.html">Tarayıcı Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product-gallery-left.html">Ofis Ürünleri</a>
                                    <ul>
                                        <li><a href="single-product-carousel.html">Hesap Makinesi</a></li>
                                        <li><a href="single-product-gallery-left.html">Evrak İmha Makineleri</a></li>
                                        <li><a href="single-product-gallery-right.html">Kağıt</a></li>
                                        <li><a href="single-product-gallery-right.html">Projeksiyon Cihazları</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product.html">Diğer Ürünler</a>
                                    <ul>
                                        <li><a href="single-product-gallery-right.html">Toner</a></li>
                                        <li><a href="single-product-gallery-right.html">Kartuş</a></li>
                                        <li><a href="single-product-gallery-right.html">Kablosuz Telefonlar</a></li>
                                        <li><a href="single-product-gallery-right.html">Kablolu Telefonlar</a></li>
                                        <li><a href="single-product-gallery-right.html">Microsoft Office Programları</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <img src="~/Limupa/images/menu/yazici.webp" class="mt w-250">
                                </li>

                            </ul>
                        </li>

                        <li class="megamenu-static-holder p-0">
                            <a href="shop-left-sidebar.html">Kozmetik</a>
                            <ul class="megamenu hb-megamenu">
                                <li>
                                    <a href="shop-left-sidebar.html">Tıraş Makinesi Modelleri</a>
                                    <ul>
                                        <li><a href="shop-3-column.html">Philips Modelleri</a></li>
                                        <li><a href="shop-4-column.html">Braun Modelleri</a></li>
                                        <li><a href="shop-left-sidebar.html">GoldMaster Modelleri</a></li>
                                        <li><a href="shop-right-sidebar.html">Grundig Modelleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product-gallery-left.html">Saç Bakım Modelleri</a>
                                    <ul>
                                        <li><a href="single-product-carousel.html">Saç Kurutma Makineleri</a></li>
                                        <li><a href="single-product-gallery-left.html">Saç Şekillendirme Setleri</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single-product.html">Diğer Ürünler</a>
                                    <ul>
                                        <li><a href="single-product.html">Epilasyon Cihazları</a></li>
                                        <li><a href="single-product-sale.html">Bakım Ve Güzellik Ürünleri</a></li>
                                        <li><a href="single-product-group.html">Şarjlı Diş Fırçaları</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <img src="~/Limupa/images/menu/_20210714144110.jpg" class="mt w-250">
                                </li>

                            </ul>

                        </li>

                    </ul>


                </nav>
            </div>
            <!-- Header Bottom Menu Area End Here -->
        </div>
    </div>
</div>
