
<div class="li-banner mt-12 mt-md-30 mt-xs-25 mb-xs-5">
    <a href="#">
        <img src="~/Limupa/images/banner/banner_one.png" alt="">
    </a>
</div>

<div class="li-banner mt-12 mt-md-30 mt-xs-25 mb-xs-5">
    <a href="#">
        <img src="~/Limupa/images/banner/banner_two.png" alt="">
    </a>
</div>