

<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">AData (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Asus (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Corsair (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Crucial (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Kioxia (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Lexar (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Micron (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">MSİ (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Samsung (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Sandisk (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">XPG (11)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Disk Türleri</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Harici (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">NVMe M.2 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">NVMe M.2 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Sata 3 (6)</a></li>
                    </ul>
                </form>
            </div>
        </div> 
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">500-999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.000-1.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2.000-2.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.000-4.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-9.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.000-14.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.000-19.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Kapasite</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">1TB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.92TB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2TB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">4TB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">8TB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">240GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">250GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">256GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">480GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">500GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">512GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">960GB (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>

    </div>
    <!--sidebar-categores-box end  -->
</div>