






<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Seagate (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Surefire (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Toshiba (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Verbatim (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">WD (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Sapphire (11)</a></li>
                    </ul>
                </form>
            </div>
        </div>
     
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">2.000-2.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.000-4.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-9.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.000-14.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>


        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Disk Kapasitesi</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">1TB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.5TB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2TB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">4TB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5TB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">6TB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10TB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">14TB (10)</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!--sidebar-categores-box end  -->
</div>