
<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Anker (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Apple (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Belkin (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">GoldMaster (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Lenovo (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Oppo (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">S-Link (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Philips (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Samsung (12)</a></li>
                    </ul>
                </form>
            </div>
        </div>      
        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Pil Gücü</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">0-5000 mAh (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5001-10000 mAh (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10001-15000 mAh (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15001-20000 mAh (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20001-30000 mAh (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">30000+ mAh (10)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">1-24 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">25-49 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">50-99 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">100-199 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">200-499 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">500-999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.000-1.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2.000-2.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.000-4.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-9.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!--sidebar-categores-box end  -->
</div>
