
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="header-top-left">
                    <ul class="phone-wrap">
                        <li><span>İletişim Hattı:</span><a href="#">(+0850) 123 321 345</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="header-top-right">
                    <ul class="ht-menu">
                        <li>
                            <div class="ht-setting-trigger"><span>Hesap</span></div>
                            <div class="setting ht-setting">
                                <ul class="ht-setting-list">
                                    <li><a asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                                    <li><a asp-controller="Account" asp-action="Register">Üye Ol</a></li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a asp-controller="About" asp-action="Index"><span class="currency-selector-wrapper">Hakkımıza</span></a>
                        </li>
                        <li>
                            <a asp-controller="Contact" asp-action="Index"><span class="currency-selector-wrapper">Bize Ulaşın</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

