

<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <form id="myForm" asp-controller="ProductSmartWatchList" asp-action="Index" method="get">
        <div class="sidebar-categores-box">
            <div class="sidebar-title t-center">
                <h2>Filtrele</h2>
            </div>
            <!-- btn-clear-all start -->
            @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
            <!-- btn-clear-all end -->
            <!-- filter-sub-area start -->
            <div class="filter-sub-area">
                <h5 class="filter-sub-titel">Markalar</h5>
                <div class="categori-checkbox">
                    <ul>
                        <li><input type="checkbox" value="apple" id="product_name_one" name="productName"><a href="#">Apple (13)</a></li>
                        <li><input type="checkbox" value="samsung" id="product_name_two" name="productName"><a href="#">Samsung (12)</a></li>
                        <li><input type="checkbox" value="huawei" id="product_name_three" name="productName"><a href="#">Huawei (11)</a></li>
                        <li><input type="checkbox" value="tcl" id="product_name_four" name="productName"><a href="#">TCL (11)</a></li>
                        <li><input type="checkbox" value="bilicra" id="product_name_five" name="productName"><a href="#">Bilicra (11)</a></li>
                    </ul>
                </div>
            </div>
            <!-- filter-sub-area end -->
            <!-- filter-sub-area start -->
            <div class="filter-sub-area pt-sm-10 pt-xs-10">
                <h5 class="filter-sub-titel">Renkler</h5>
                <div class="categori-checkbox">
                    <ul>
                        <li><input type="checkbox" value="siyah" id="product_color_one" name="productColor" /><a href="#">Siyah (2) </a></li>
                        <li><input type="checkbox" value="beyaz" id="product_color_two" name="productColor" /><a href="#">Beyaz (1)</a></li>
                        <li><input type="checkbox" value="bej" id="product_color_three" name="productColor" /><a href="#">Bej (1)</a></li>
                        <li><input type="checkbox" value="gri" id="product_color_four" name="productColor" /><a href="#">Gri (3) </a></li>
                        <li><input type="checkbox" value="kırmızı" id="product_color_five" name="productColor" /><a href="#">Kırmızı (2) </a></li>
                        <li><input type="checkbox" value="gümüş" id="product_color_six" name="productColor" /><a href="#">Gümüş (2) </a></li>
                        <li><input type="checkbox" value="krem" id="product_color_seven" name="productColor" /><a href="#">Krem (2) </a></li>
                        <li><input type="checkbox" value="altın" id="product_color_eight" name="productColor" /><a href="#">Altın (2) </a></li>
                        <li><input type="checkbox" value="sarı" id="product_color_nine" name="productColor" /><a href="#">Sarı (2) </a></li>
                        <li><input type="checkbox" value="pembe" id="product_color_ten" name="productColor" /><a href="#">Pembe (2) </a></li>
                    </ul>
                </div>
            </div>

            <div class="filter-sub-area">
                <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
                <div class="categori-checkbox">
                    <ul>
                        <li><input type="checkbox" value="1000-1999" id="product_price_one" name="productPrice"><a href="#">1.000-1.999 TL</a></li>
                        <li><input type="checkbox" value="5000-9999" id="product_price_two" name="productPrice"><a href="#">5.000-9.999 TL</a></li>
                        <li><input type="checkbox" value="10000-14999" id="product_price_three" name="productPrice"><a href="#">10.000-14.999 TL</a></li>
                        <li><input type="checkbox" value="15000-19999" id="product_price_four" name="productPrice"><a href="#">15.000-19.999 TL</a></li>
                        <li><input type="checkbox" value="20000-29999" id="product_price_five" name="productPrice"><a href="#">20.000-29.999 TL</a></li>
                        <li><input type="checkbox" value="30000-39999" id="product_price_six" name="productPrice"><a href="#">30.000-39.999 TL</a></li>
                        <li><input type="checkbox" value="40000-49999" id="product_price_seven" name="productPrice"><a href="#">40.000-49.999 TL</a></li>
                        <li><input type="checkbox" value="50000-59999" id="product_price_eight" name="productPrice"><a href="#">50.000-59.999 TL</a></li>
                        <li><input type="checkbox" value="60000-69999" id="product_price_nine" name="productPrice"><a href="#">60.000-69.999 TL</a></li>
                        <li><input type="checkbox" value="70000-79999" id="product_price_ten" name="productPrice"><a href="#">70.000-79.999 TL</a></li>
                        <li><input type="checkbox" value="80000-89999" id="product_price_eleven" name="productPrice"><a href="#">80.000-89.999 TL</a></li>
                        <li><input type="checkbox" value="90000-99999" id="product_price_elf" name="productPrice"><a href="#">90.000-99.999 TL</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    <!--sidebar-categores-box end  -->
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Sayfa yüklendiğinde checkbox durumlarını geri yükle
        restoreCheckboxState('product_name_one');
        restoreCheckboxState('product_name_two');
        restoreCheckboxState('product_name_three');
        restoreCheckboxState('product_name_four');
        restoreCheckboxState('product_name_five');

        restoreCheckboxState('product_color_one');
        restoreCheckboxState('product_color_two');
        restoreCheckboxState('product_color_three');
        restoreCheckboxState('product_color_four');
        restoreCheckboxState('product_color_five');
        restoreCheckboxState('product_color_six');
        restoreCheckboxState('product_color_seven');
        restoreCheckboxState('product_color_eight');
        restoreCheckboxState('product_color_nine');
        restoreCheckboxState('product_color_ten');

        restoreCheckboxState('product_price_one');
        restoreCheckboxState('product_price_two');
        restoreCheckboxState('product_price_three');
        restoreCheckboxState('product_price_four');
        restoreCheckboxState('product_price_five');
        restoreCheckboxState('product_price_six');
        restoreCheckboxState('product_price_seven');
        restoreCheckboxState('product_price_eight');
        restoreCheckboxState('product_price_nine');
        restoreCheckboxState('product_price_ten');
        restoreCheckboxState('product_price_eleven');
        restoreCheckboxState('product_price_elf');




        // diğer checkbox'lar için aynı işlemi tekrar edin

        // Tüm checkbox'ların değişiklik olayını dinle
        document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                saveCheckboxState(this.id, this.checked); // Checkbox durumunu kaydet
                document.getElementById('myForm').submit(); // Formu gönder
            });

            restoreCheckboxState(checkbox.id); // Sayfa yüklendiğinde checkbox durumlarını geri yükle
        });

    });

    function saveCheckboxState(id, isChecked) {
        if (isChecked) {
            sessionStorage.setItem(id, 'checked'); // Checkbox işaretliyse sessionStorage'a kaydet
        } else {
            sessionStorage.removeItem(id); // Checkbox işaretli değilse sessionStorage'dan kaldır
        }
    }

    function restoreCheckboxState(id) {
        var isChecked = sessionStorage.getItem(id);
        var checkbox = document.getElementById(id);
        if (checkbox) {
            checkbox.checked = isChecked === 'checked';
        }
    }
</script>