<div class="product-select-box">
    <div class="product-short">
        <p>Düzenle</p>
        <select class="nice-select">
            <option value="sales">Fiyata Göre Artan</option>
            <option value="sales">Fiyata Göre Azalan</option>
        </select>
    </div>
</div>
