





<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Asus (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Evga (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Gıgabyte (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">MSİ (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">PNY (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Sapphire (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">XFX (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Zotac (11)</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">İşlemci Modelleri</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Nvidia</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Amd</a></li>
                    </ul>
                </form>
            </div>
        </div>


        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.000-14.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.00-19.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">30.000-39.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">40.000-49.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">50.000-59.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">60.000-69.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">70.000-79.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">80.000-89.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">90.000-99.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">100.000 TL + </a></li>
                    </ul>
                </form>
            </div>
        </div>


        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Grafik İşlemciler</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Nvidia RTX Serisi (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Nvidia GTX Serisi (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Amd Radeon RX Serisi (10)</a></li>
                    </ul>
                </form>
            </div>
        </div>


        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Ekran Kartı Hafızası</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">2GB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">4GB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">6GB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">8GB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10GB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">12GB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">16GB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20GB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">24GB (10)</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!--sidebar-categores-box end  -->
</div>