
<div class="product-details-manufacturer">
    <div class="coupon-card">
        <img src="~/Limupa/images/product-details/2.jpg" class="logo">
        <h3>100 TL Değerindeki Kuponu Bütün Ürünlerde Kullanabilirsiniz</h3>
        <p class="text-white">İndirim Kodunu Sadece 10 Kişi Kullanabilir</p>
        <div class="coupon-row">
            <span id="cpnCode">STEALDEAL20</span>
            <span id="cpnBtn">Copy Code</span><br>
        </div>
        <span>İndirim Kodunu Kullanan Sayısı</span> : <b>8</b>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>
</div>