


<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Grundig (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Lg (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Samsung (12)</a></li>
                    </ul>
                </form>
            </div>
        </div>
      
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.000-3.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">4.000-3.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-54.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">55.000-69.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">70.000-99.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">100.000 TL + </a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Çözünürlük</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">4K (10)</a></li>                      
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Ekran Boyutu</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">48 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">55 inch (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">65 inch (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">77 inch (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">83 inch (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>

    </div>
    <!--sidebar-categores-box end  -->
</div>