

<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Anker (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Aquara (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Everest (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Ezviz (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Imılab (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">S-Link (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Tecno (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Tenda (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">TP-Link (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Xiaomi (11)</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">500-999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.000-1.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2.00-2.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.00-4.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.00-9.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.00-14.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.00-19.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>
        
    </div>
    <!--sidebar-categores-box end  -->
</div>

