
<div class="static-top-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="title_banner">İster Perfonmans İster İş Olsun İhtiyaçlarınızı Fazlasıyla Karşılayacak İşlemciler Limupa`da</h5>
                <img src="~/Limupa/images/static-top/deneme.jpg">
            </div>
        </div>
    </div>
</div>
