

<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Asrock (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Asus (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Gigabyte (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">MSİ (12)</a></li>
                    </ul>
                </form>
            </div>
        </div>


        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Anakart Socket Türleri</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Amd Uyumlu (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">İntel Uyumlu (12)</a></li>
                    </ul>
                </form>
            </div>
        </div>     

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">2.000-2.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.000-4.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-9.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.000-14.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.000-19.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">30.000-39.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">55.000-69.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">70.000-99.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Ram Tipi</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">DDR4 (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">DDR5 (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
            <h5 class="filter-sub-titel">Ram Slot Sayısı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">2 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">4 (6)</a></li>                    
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
    </div>
    <!--sidebar-categores-box end  -->
</div>