



<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Canon (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Nikon (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Sony (12)</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fotoğraf Hassasiyeti</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">8 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">11.7 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.1 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.5 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.9 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">24 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">24.1 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">24.2 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">24.3 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">24.5 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">26.2 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">32.5 Megapiksel</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">33 Megapiksel</a></li>
                    </ul>
                </form>
            </div>

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.000-4.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.000-19.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">30.000-39.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">40.000-49.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">50.000-59.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">60.000-69.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">70.000-79.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">80.000-89.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">90.000-99.999 TL + </a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!--sidebar-categores-box end  -->
</div>

