
<div class="group-featured-product pt-60 pb-40 pb-xs-25">
    <div class="container">
        <div class="row">
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product">
                    <div class="li-section-title">
                        <h2>
                            <span>İpohne Modelleri</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">
                            @await Component.InvokeAsync("DefaultGeneralProductİpohneModelComponentPartial")
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Product Area End Here -->
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product pt-sm-10 pt-xs-25">
                    <div class="li-section-title">
                        <h2>
                            <span>Mackbook Modelleri</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">

                            @await Component.InvokeAsync("DefaultGeneralProductMackbookModelComponentPartial")

                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Product Area End Here -->
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product pt-sm-10 pt-xs-25">
                    <div class="li-section-title">
                        <h2>
                            <span>Video Oyun Modelleri</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">

                            @await Component.InvokeAsync("DefaultGeneralProductVideoGameModelComponentPartial")

                        </div>
                    </div>
                </div>
                <!-- Featured Product Area End Here -->
            </div>
        </div>
    </div>
</div>