

<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Anker (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Apple (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Aquara (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Ezviz (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Govee (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Ledvance (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Philips (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Meross (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Petkik (11)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Kategori</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Ampul (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Anahtar (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Kapı Zili (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Köşe Lambası (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Kumanda (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Lamba (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Masa Şeridi (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Pet Ürünleri (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Projektör Işık (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Termostat (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Cihazlar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">200-499 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">500-999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.000-1.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2.000-2.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.000-4.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-9.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.000-14.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.000-19.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">60.000-69.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!--sidebar-categores-box end  -->
</div>