
<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Apple (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Casper (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Everpad (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Hometch (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Honor (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Huawei (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Lenovo (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Samsung (11)</a></li>
                    </ul>
                </form>
            </div>
        </div>       
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.000-1.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-9.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.000-14.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.00-19.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">30.000-39.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">40.000-49.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">50.000-59.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">60.000-69.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">70.000-79.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">80.000-89.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">90.000-99.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Ekran Boyutu</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">13.2 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">7 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">8.3 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">8.7 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">9 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.1 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.2 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.36 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.4 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.61 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.9 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.95 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">11 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">11.2 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">11.5 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">12.1 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">12.4 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">12.9 inch (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">14.6 inch (10)</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
            <h5 class="filter-sub-titel">Ram Sistem Belleği</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">2GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">4GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">8GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">12GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">16GB (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
    </div>
    <!--sidebar-categores-box end  -->
</div>

