

<div class="col-lg-3 order-2 order-lg-1">
    <form method="get" asp-controller="ProductApplePhoneList" asp-action="Index" id="myForm">
        <!--sidebar-categores-box start  -->
        <div class="sidebar-categores-box">
            <div class="sidebar-title t-center">
                <h2>Filtrele</h2>
            </div>
            <!-- btn-clear-all start -->
            @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
            <!-- btn-clear-all end -->
            <!-- filter-sub-area start -->
            <div class="filter-sub-area">
                <h5 class="filter-sub-titel">Markalar</h5>
                <div class="categori-checkbox">
                    <ul>
                        <li><input type="checkbox" value="iphone" id="product_name_one" name="productName"><a href="#">İpohne (13)</a></li>
                    </ul>
                </div>
            </div>
            <!-- filter-sub-area end -->
            <!-- filter-sub-area start -->
            <div class="filter-sub-area pt-sm-10 pt-xs-10">
                <h5 class="filter-sub-titel">Model</h5>
                <div class="categori-checkbox">
                    <ul>
                        <li><input type="checkbox" value="iphone 11" id="product_model_one" name="productModel"><a href="#">İphone 11 (10)</a></li>
                        <li><input type="checkbox" value="iphone 11 pro" id="product_model_two" name="productModel"><a href="#">İphone 11 Pro(10)</a></li>
                        <li><input type="checkbox" value="iphone 11 pro max" id="product_model_three" name="productModel"><a href="#">İphone 11 Pro Max(10)</a></li>
                        <li><input type="checkbox" value="iphone 12" id="product_model_three" name="productModel"><a href="#">İphone 12(10)</a></li>
                        <li><input type="checkbox" value="iphone 12 pro" id="product_model_four" name="productModel"><a href="#">İphone 12 Pro (10)</a></li>
                        <li><input type="checkbox" value="iphone 12 pro max" id="product_model_four" name="productModel"><a href="#">İphone 12 Pro Max(10)</a></li>
                        <li><input type="checkbox" value="iphone 13" id="product_model_five" name="productModel"><a href="#">İphone 13 (10)</a></li>
                        <li><input type="checkbox" value="iphone 13 pro" id="product_model_six" name="productModel"><a href="#">İphone 13 Pro (10)</a></li>
                        <li><input type="checkbox" value="iphone 13 pro max" id="product_model_six" name="productModel"><a href="#">İphone 13 Pro Max(10)</a></li>
                        <li><input type="checkbox" value="iphone 14" id="product_model_eight" name="productModel"><a href="#">İphone 14 (10)</a></li>
                        <li><input type="checkbox" value="iphone 14 pro" id="product_model_nine" name="productModel"><a href="#">İphone 14 Pro (10)</a></li>
                        <li><input type="checkbox" value="iphone 14 pro max" id="product_model_ten" name="productModel"><a href="#">İphone 14 Pro Max (10)</a></li>
                        <li><input type="checkbox" value="iphone 15" id="product_model_eleven" name="productModel"><a href="#">İphone 15 (10)</a></li>
                        <li><input type="checkbox" value="iphone 15 pro" id="product_model_elf" name="productModel"><a href="#">İphone 15 Pro (10)</a></li>
                        <li><input type="checkbox" value="iphone 15 pro max" id="product_model_threeteen" name="productModel"><a href="#">İphone 15 Pro Max(10)</a></li>
                    </ul>
                </div>
            </div>
            <div class="filter-sub-area">
                <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
                <div class="categori-checkbox">
                    <ul>
                        <li><input type="checkbox" value="20000-29999" id="product_price_one" name="productPrice"><a>20.000-29.999 TL</a></li>
                        <li><input type="checkbox" value="30000-39999" id="product_price_two" name="productPrice"><a>30.000-39.999 TL</a></li>
                        <li><input type="checkbox" value="40000-49999" id="product_price_three" name="productPrice"><a>40.000-49.999 TL</a></li>
                        <li><input type="checkbox" value="50000-59999" id="product_price_four" name="productPrice"><a>50.000-59.999 TL</a></li>
                        <li><input type="checkbox" value="60000-69999" id="product_price_five" name="productPrice"><a>60.000-69.999 TL</a></li>
                        <li><input type="checkbox" value="70000-79999" id="product_price_six" name="productPrice"><a>70.000-79.999 TL</a></li>
                        <li><input type="checkbox" value="80000-89999" id="product_price_seven" name="productPrice"><a>80.000-89.999 TL</a></li>
                        <li><input type="checkbox" value="90000-99999" id="product_price_eight" name="productPrice"><a>90.000-99.999 TL</a></li>
                    </ul>
                </div>
            </div>
            <!-- filter-sub-area end -->
            <div class="filter-sub-area pt-sm-10 pt-xs-10">
                <h5 class="filter-sub-titel">Dahili Hafıza Boyutu</h5>
                <div class="categori-checkbox">
                    <ul>
                        <ul>
                            <li><input type="checkbox" value="64 gb" id="product_ınternal_memory_size_one" name="productInternalMemorySize"><a>64GB (6)</a></li>
                            <li><input type="checkbox" value="128 gb" id="product_ınternal_memory_size_two" name="productInternalMemorySize"><a>128GB (6)</a></li>
                            <li><input type="checkbox" value="256 gb" id="product_ınternal_memory_size_three" name="productInternalMemorySize"><a>256GB (6)</a></li>
                            <li><input type="checkbox" value="512 gb" id="product_ınternal_memory_size_four" name="productInternalMemorySize"><a>512GB (6)</a></li>
                            <li><input type="checkbox" value="1 tb" id="product_ınternal_memory_size_five" name="productInternalMemorySize"><a>1TB (6)</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
      
            <!-- filter-sub-area end -->
        </div>
    </form>
    <!--sidebar-categores-box end  -->
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Sayfa yüklendiğinde checkbox durumlarını geri yükle
        restoreCheckboxState('product_name_one');


        restoreCheckboxState('product_model_one');
        restoreCheckboxState('product_model_two');


        restoreCheckboxState('product_price_one');
        restoreCheckboxState('product_price_two');
        restoreCheckboxState('product_price_three');
        restoreCheckboxState('product_price_four');
        restoreCheckboxState('product_price_five');
        restoreCheckboxState('product_price_six');
        restoreCheckboxState('product_price_seven');
        restoreCheckboxState('product_price_eight');

        restoreCheckboxState('product_ınternal_memory_size_one');
        restoreCheckboxState('product_ınternal_memory_size_two');
        restoreCheckboxState('product_ınternal_memory_size_three');
        restoreCheckboxState('product_ınternal_memory_size_four');
        restoreCheckboxState('product_ınternal_memory_size_five');



        // diğer checkbox'lar için aynı işlemi tekrar edin

        // Tüm checkbox'ların değişiklik olayını dinle
        document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                saveCheckboxState(this.id, this.checked); // Checkbox durumunu kaydet
                document.getElementById('myForm').submit(); // Formu gönder
            });

            restoreCheckboxState(checkbox.id); // Sayfa yüklendiğinde checkbox durumlarını geri yükle
        });

    });

    function saveCheckboxState(id, isChecked) {
        if (isChecked) {
            sessionStorage.setItem(id, 'checked'); // Checkbox işaretliyse sessionStorage'a kaydet
        } else {
            sessionStorage.removeItem(id); // Checkbox işaretli değilse sessionStorage'dan kaldır
        }
    }

    function restoreCheckboxState(id) {
        var isChecked = sessionStorage.getItem(id);
        var checkbox = document.getElementById(id);
        if (checkbox) {
            checkbox.checked = isChecked === 'checked';
        }
    }
</script>