
<div class="row">
    <div class="col-12">
        <div class="coupon-all">
            <form asp-controller="Discount" asp-action="ConfirmDiscountCouponCode" method="post">
                <div class="coupon">
                    <input id="coupon_code" class="input-text" name="code" value="" placeholder="Kupon Kodunuzu Giriniz" type="text">
                    <input class="button" value="Kuponu Onayla" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>

