


<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">İpohne (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Samsung (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Xiaomi (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Realme (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Vivo (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">General Mobile (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Tecno Spark (11)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Tecno Camon (11)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Kategori</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Akıllı Telefon (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Tuşlu Telefon (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.000-1.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-9.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.000-14.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.00-19.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">30.000-39.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">40.000-49.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">50.000-59.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">60.000-69.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">70.000-79.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">80.000-89.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">90.000-99.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Dahili Hafıza Boyutu</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">16MB (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">64GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">128GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">256GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">512GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1TB (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
            <h5 class="filter-sub-titel">Mobil Ram Boyutu</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">4MB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">4GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">6GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">8GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">12GB (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">16GB (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
    </div>
    <!--sidebar-categores-box end  -->
</div>