



<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Aquara (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Hama (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Inca (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Philips (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">S-Link (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Tuncmatik (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Verbatım (12)</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">200-499 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">500-999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.000-1.999 TL</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2.000-2.999 TL</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Priz Sayısı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">1 (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">4 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5  (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">6 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">7 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">8 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">9 (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10 (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!--sidebar-categores-box end  -->
</div>
