



<div class="col-lg-3 order-2 order-lg-1">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title t-center">
            <h2>Filtrele</h2>
        </div>
        <!-- btn-clear-all start -->
        @* <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> *@
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Markalar</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Asus (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">CoolerMaster (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Corsaier (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Cougar (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Everest (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Frisby (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Fsp (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">MSİ (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Ocz (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Power Boost (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Rampage (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Razer (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Zalman (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Thermaltake (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Xigmatek (12)</a></li>
                    </ul>
                </form>
            </div>
        </div>
      
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Fiyat Aralığı</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">500-999 TL (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1.000-1.999 TL (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">2.000-2.999 TL (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">3.000-4.999 TL (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">5.000-9.999 TL (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">10.000-14.999 TL (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">15.000-19.999 TL (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">20.000-29.999 TL (13)</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="filter-sub-area">
            <h5 class="filter-sub-titel"> Güç Değeri</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">350W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">400W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">450W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">500W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">550W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">600W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">650W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">700W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">800W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">850W (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">1000W + (13)</a></li>

                    </ul>
                </form>
            </div>
        </div>      
    </div>
    <!--sidebar-categores-box end  -->
</div>

